.container{
   display: flex;
   flex-direction: column-reverse;
   flex-wrap: wrap-reverse;
    border: 2px solid black;
   height: auto;
    width: auto;
    background-color: lightslategrey;
    padding: 25px;
}
.item{
    height: 100px;
    width: 100px;
    background-color: lightcoral;
    border: 1px solid black;
}