.container{
   display: flex;
   /* flex-direction: column-reverse;.     (for row use row-reverse) */
   /* flex-wrap: wrap-reverse; .         (for wrap use wrap) */
    border: 2px solid black;
   height: auto;
    width: auto;
    background-color: lightslategrey;
    padding: 25px;
}
.item{
    height: 100px;
    width: 100px;
    background-color: lightcoral;
    border: 1px solid black;
}