div{
   display: inline-block;
   vertical-align: top; 
}
p{
     height: 200px;
    width: 200px;
    display: inline-block;
    color: pink;
    background-color: yellow;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}
.a{
    height: 200px;
    width: 200px;
    display: inline-block;
    color: antiquewhite;
    background-color: palegreen;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}

.b{
    height: 200px;
    width: 200px;
    display: inline-block;
    color: brown;
    background-color: beige;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}
.c{
    height: 200px;
    width: 200px;
    display: inline-block;
    color: tomato;
    background-color: rgb(246, 153, 48);
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}
