.container{
    text-align: center;
   display: inline-block;
   vertical-align: top; 
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    height: auto;
    width: auto;
}
.box1{
    height: 200px;
    width: 200px;
    display: inline-block;
    color: pink;
    background-color: yellow;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}
.box2{
    height: 200px;
    width: 200px;
    display: inline-block;
    color: blueviolet;
    background-color: palegreen;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}

.box3{
    height: 200px;
    width: 200px;
    display: inline-block;
    color: brown;
    background-color: beige;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}
